@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba($black, 0.7);
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $buttonRadius;
    background-color: $white;
    padding: 1rem;

    &__header {
        @include mobileH2;
        padding: 0.5rem 0;
    }

    &__list {
        width: 100%;
    }
    &__items {
        @include mobileP1;
        padding: 0.25rem;
        margin: 0.5rem;
        border: 1px solid black;
        text-align: center;
    }
}

.question-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
