/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 10px;

///////// Primary Colours ///////
$primary: #432534;
$secondary: #efd6ac;
$cta: #c44900;
$black: #232323;
$white: #f1f1f1;
