/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 10px;

///////// Primary Colours /////////
$primary: #091d42;
$secondary: #3997ff;
$cta: #00bf83;
$black: #232323;
$white: #f1f1f1;
