@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.background {
    background-image: url("../../assets/images/background.jpg");
    height: 100svh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
